*{
	padding: 0px;
	margin: 0px;
}

header{
	width: 100%;
	float: left;
	background-color: #3B4D79;
	
    
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.logo{
	width: 30%;
	float: left;
}
.logo img {
    display: block;
    width: 42%;
    margin-top: 27px;
}
.menu{
	width: 70%;
	float: left;
}
nav ul{
	list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0px 4px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    padding: 52px 47px;
    text-transform: uppercase;
}
nav ul li a:hover{
	color: #83C0EF;
	
}
.header-content {
    width: 600px;
    padding-top: 200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.header-content h2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: #e4e0e0;
}
.header-content button {
    text-transform: uppercase;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 26px auto;
    display: block;
    font-weight: bold;
    margin-bottom: -15px;
}
.about{
	width: 100%;
	float: left;
	background-color: #17C2A4;
}
.about-text{
	margin: 30px auto;
	display: block;
	text-transform: capitalize;
	text-align: center;
}
.underline {
    border-bottom: 2px solid black;
    padding-top: 17px;
    width: 80px;
    display: block;
    margin: auto;
    margin-bottom: 17px;
}
.about-text h2{
	color: black;
}
.about-text p{
	
	font-size: 18px;
}
.about-img {
    width: 21%;
    float: left;
    padding: 20px;
}
.about-img img{
	
	display: block;
	margin: 20px auto;

}
.about-img .one-three{

	margin-top: 45px;
	text-align: center;
} 
.about-img .two-four{

	margin-top: 40px;
	text-align: center;
}
.about-img p{
	
	text-align: center;
	padding: 20px;
	font-size: 17px;
	text-transform: capitalize;
}  
.team{
	width: 100%;
	float: left;
	background-color: #FFDD99;
}
.team-img{
	width: 23%;
	float: left;

}
.team-img img {
    width: 75%;
    display: block;
    margin: 0px auto;
    
    padding: 40px;
}
.team-img h2 {
    text-transform: uppercase;
    text-align: center;
    
    display: block;
}
.team-one {
    margin-top: 5px;
  
}
.team-two{
    margin-top: 8px;
 
}
.team-three {
    margin-top: -1px;
    
}
.team-four {
    margin-top: 6px;
  
}
.team-img b{
	
	text-align: center;
	margin-top: 5px;
	color: #8074BE;
	display: block;
}
.team-img p{
	text-transform: capitalize;
	text-align: center;
	margin: 20px 20px;
	display: block;
	
}
.service{
	width: 100%;
	float: left;
	background-color: #3E739E;
}
.service-img{
	width: 25%;
	float: left;
}
.service-img img{
	display: block;
	margin: 20px auto;
	width: 80%;

}
.service-img h2{
	text-align: center;
	text-transform: capitalize;
}
.service-text{
	margin: 30px auto;
	display: block;
	text-transform: capitalize;
	text-align: center;
	color: #f1efef; 
}
.service-text h2{
	color: #f1efef; 
}
.service-text p {
    font-size: 18px;
    color: #eae4e4;
}
.service-img img{
	width: 40%;

}
.service-img h2{
	color: #f1efef; 
	margin-bottom: 20px;
}
.service-pc{
	width: 100%;
	float: left;
	background-color: #17A05D;
}
.about-text ul{
	list-style: none;
}
.about-text ul li{
	
	display: inline-block;
	margin-top: auto;
	background-color: #6D6E6A;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.about-text .pbreak{
	margin-bottom: 20px; 
}
.service-img-pc{
	width: 48%;
	float: left;
}
.service-img-pc img {
    display: block;
    margin: 20px auto;
    padding: 15px;
    width: 95%;
}
.service-img-pc h5{
	text-align: center;
	font-size: 22px;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.service-pc .brk{
	margin: 20px;
}
.service-pc .btn{
	
    text-transform: uppercase;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    margin:30px auto;
    display: block;
    font-weight: bold;
    
}
.work{
	width: 100%;
	float: left;
	background-color: #005BBE;
}
.work-img{
	width: 48%;
	float: left;
}
.work-img img{
	width: 100%;
	display: block;
	padding: 30px;
}
.work-img-one{
	width: 30%;
	float: left;
}
.work-img-two{
	width: 50%;
	float: left;
}
.work-img i {
    color: white;
    float: left;
    margin-top: 74px;
    margin-left: 40px;
}
.work-img-two h2{
	color: white;
	margin-left: 40px;
	margin-top: 100px;
	text-transform: capitalize;
}
.work-img-two p{
	color: white;
	margin-left: 40px;
	color: #F6DC4C;
}
.contact{
	width: 100%;
	float: left;
	background-color: #2F3D4A;
}
.contact-form{
	width: 600px;
	display: block;
	margin:25px auto; 
}
.form-one {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #a0a0a02b;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.contact-form textarea{
	width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #a0a0a02b;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.contact button {
    display: block;
    margin: 20px auto;
    padding: 11px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    background: #025FE5;
    color: white;
    font-size: 15px;

}
.footer {
    width: 100%;
    float: left;
    background-color: #242f3a;
}
.footer-list{
	margin: auto;
	display: block;
	text-align: center;
}
.footer-list ul {
	list-style: none;
}
.footer-list ul li{
	display: inline-block;
	
}
.footer-list ul li a{
 	text-decoration: none;
    color: white;
  	font-size: 20px;
    display: block;
    padding: 40px 40px;
    text-transform: uppercase;
}
.footer-list ul li a:hover{
	color: #83C0EF;
}